@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&family=Roboto:wght@400;700&display=swap");

#logo {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  width: 20vw;
}
#brand-mantra {
  margin: auto;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgb(237, 171, 100);
  background-color: bisque;
  font-family: "lato";
  font-weight: 100;
  color: #107777;
}
h1 {
  font-family: "lato";
  font-weight: 700;
}
#intro {
  font-family: "lato";
  font-weight: 400;
}
h3 {
  font-family: "lato";
  font-weight: 500;
  font-weight: bolder;

  color: black;
}
.step {
  font-weight: bolder;
}
#stepbystep {
  font-family: "lato";
  font-weight: 400;
}
ul {
  font-family: "lato";
  font-weight: 400;
}
footer {
  font-family: "lato";
  font-weight: 400;
}
figurecaption {
  font-family: "lato";
  font-weight: 400;
  font-size: 0.75em;
}
main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
